/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center ;
  align-items: center;
  z-index: 1000;


}

.modal {
  // padding: 20px;
  border-radius: 5px;
  max-width: 1324px ;
  position: relative ;
  background-color: #7155C6;
  color: white;
  flex-direction: block !important;
}


.modal-text-content{
  align-self: center;
  margin-right: 63px;
  margin-left: 63px;
  // gap: 12px;
}

.modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none !important;
    cursor: pointer;
}

.modal-close-button img {
    width: 20px;
    height: 20px;
}

.modal-content-wrapper{
  display: flex;
  align-items: center;
}

.modal-content-wrapper img {
width: 662px;
height: 778px;
object-fit: cover; /* Масштабирует изображение, сохраняя пропорции, и обрезает излишки */
}








.review-modal {
  margin-top: 0px!important;
  color: #1E0C51;
    display: flex;
    width: 1324px;
    height: 800px;
    h1,h2,h3,p{
      color: #1E0C51;
    }
}

.review-file-upload {
  padding-top: 384px;
  width: 662px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #AD6BDF;
    justify-content: space-between;
    cursor: pointer;
}

.review-file-upload input[type="file"] {
  display: none;
}


.review-file-upload span h2 {
    color: #1E0C51;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}


.review-form-inputs {
  
  padding-left: 48px;
  padding-top: 71px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    ::-webkit-input-placeholder{
      color: #1E0C51;
      font-family: "Arsenal", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      padding-left: 21px;
      padding-top: 22px;
    }

}

.review-form-inputs input {
  display: flex;
    // padding: 8px;
    // margin-bottom: 10px;
    border: 1px solid #1E0C51;
    background-color: transparent;
    border-radius: 46px;
    width: 272px;
    height: 66px;

}
.review-form-inputs textarea {
  display: flex;
    padding: 8px;
    margin-bottom: 10px;
    // border: 1px solid #1E0C51;
    background-color: #AD6BDF;
    border-radius: 46px;
    width: 566px;
    height: 275px;
}

// .review-form-inputs select {
//     padding: 8px;
//     margin-bottom: 10px;
//     border-radius: 4px;
// }

.review-name-email {
    display: flex;
    margin-bottom: 10px;
    div {
      flex: 1;
      margin-right: 10px;
      :last-child {
        margin-right: 0;
      }
      input{
        width: 272px;
    }
    }
}

.review-phone {
  margin-bottom: 10px;
}

.review-text-area {
    margin-bottom: 10px;

}

nobr{
  display: flex;
}
.review-checkbox {
    display: flex;
    align-items: center;
    
    margin-bottom: 10px;
    font-size: 16px;
    label {
      padding-top: 3px;
      text-align: auto;
      margin-left: 5px;
      font-size: 16px;
      color: white;
  }
  input{
    // background-color: #AD6BDF;
    width: 20px;
    height: 20px;
  }
  // #agreement{}
}

.review-submit-button {
    padding: 10px 15px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}

.review-form-label {
  text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}